body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}


.picture-container{
	position: relative;
	width:1000px;
	height: 500px;
}
.picture-container ul a{
	position: absolute;
}
.picture-item{
	position: absolute;
}
.btn{
	position: absolute;
	top: 0px;
}
.left-btn{
	left: 0px;
	background: url(../images/btn_l.png) no-repeat center center;
}
.right-btn{
	right: 0;
	background: url(../images/btn_r.png) no-repeat center center;
}